* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(146, 140, 141);
    font-size: 17px;
    font-family: 'Fjalla One', sans-serif;
}

.container {
    width: 75%;
    margin: 50px auto;
}

.contact {
    background-color: rgb(71, 87, 57);
    display: flex;

}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}



h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(220, 225, 230);
    outline: none;
    padding-bottom: 7px;
    padding-top: 7px;
}

textarea {
    width: 100%;
    border: 1px solid darkblue;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: rgb(168, 180, 180);
}

button {
    background-color: rgb(98, 102, 74);
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;

}

.contact-left h3 {
    color: rgb(42, 66, 42);
    font-weight: 600;
    margin-bottom: 30px;

}

.priority select {
    background-color: gray;
    width: 128px;
    font-weight: 800px;
    border: none;
    outline: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
}